{% extends 'base.html.twig' %}

{% block title %}Hello EvenementController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1> Felicitation! Vous etres desomris inscrit a l'evenement✅</h1>
    <p> le nombre des inscrits a l'evenment est :  </p>
   {{evenment2}}
</div>
{% endblock %}
